/ h1 Appointments#index
/ = react_component 'Appointments'

/ h1 Appointments

/ h3 Make an appointment
/ = form_for @appointment, remote: true do |f|
/   = f.label :title, "Title: "
/   = f.text_field :title
/   br
/   br
/   = f.label :appt_date, "Date: "
/   = f.text_field :appt_date
/   br
/   br
/   = f.submit "Make Appointment"
/ br  
/ hr
/ = render 'appointments'

= react_component('Appointments', props: {appointments: @appointments}, prerender: false)